server {
        listen 80;
        server_name {{ domain }};

        location / {
                return 301 https://$host$request_uri;
        }
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

    ssl_certificate /etc/ssl/{{ domain }}.crt;
    ssl_certificate_key /etc/ssl/{{ domain }}.key;

	server_name {{ domain }};

	root /var/www/{{ project_name }}/current/public;
	index index.php;

	location / {
		try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }	
}
