APP_NAME={{ domain }}
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL="{{ protocol }}{{ domain }}"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST={{ mysql_server }}
DB_PORT=3306
DB_DATABASE={{ db }}
DB_USERNAME={{ db_user}}
DB_PASSWORD={{ db_passw }}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER={{ email_driver }}
MAIL_HOST={{ email_host }}
MAIL_PORT={{ email_port }}
MAIL_USERNAME={{ email_user }}
MAIL_PASSWORD={{ email_passw }}
MAIL_ENCRYPTION={{ email_encrypt }}
MAIL_FROM_ADDRESS="manager@${APP_NAME}"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
